/*css reset  */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, blockquote, p, th, td, button {margin: 0;padding: 0;vertical-align: baseline;}
address, caption, code, dfn, strong, th, var, cite, em, i, b {font-style: normal;font-weight: normal}
input, button, select, textarea {font-family: inherit;font-size: inherit;line-height: inherit}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal}
table {border-collapse: collapse;border-spacing: 0}
html,body {background: #fff;font: 62.5%/1.5 "Microsoft yaHei", "Tahoma", "Arial";color:#000;-webkit-box-sizing:border-box;height:100%}
body{overflow-y:auto;display:flex;flex-direction:column;}
textarea {overflow: auto;vertical-align: top;resize: none}
button {cursor: pointer;text-align: center;outline:none;border:none;}
button,input,a,select{outline:none;border:none}
a{text-decoration: none;}
ol, ul, li {list-style: none}caption, th, td {text-align: center}fieldset, img {border: 0}textarea{resize:none;}img {vertical-align: middle}
/*end */
.outer {zoom:1;}    /*==for IE6/7 Maxthon2==*/
.outer:after {clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}

/*---图片定大小---*/
img.fangzi{
	width: 0.4rem;
	height: 0.36rem;
}
img.leftP{
	width: 0.18rem;
	height: 0.34rem;
}
img.rightP{
	width: 0.11rem;
	height: 0.19rem;
}
img.fangdajingH{
	width: 0.22rem;
	height: 0.22rem;
}
img.ystxH{
	width: 0.74rem;
	height: 0.74rem;
}
img.lvborder{
	width: 0.97rem;
	height: 0.98rem;
}
img.erweima{
	width: 0.77rem;
	height: 0.81rem;
}
img.duigou{
	width: 0.88rem;
	height: 0.88rem;
}
img.orangeBlock{
	width: 0.11rem;
	height: 0.37rem;
}
img.qingBlock{
	width: 0.11rem;
	height: 0.37rem;
}
img.rightBlock{
	width: 0.2rem;
	height: 0.2rem;
}
img.tiaoXingma{
	width: 1.76rem;
	height: 1.53rem;
}
img.wenjian{
	width: 1.04rem;
	height: 1.33rem;
}
img.jiuzhenka{
	width: 0.63rem;
	height: 0.46rem;
}
img.jia{
	width: 0.21rem;
	height: 0.21rem;
}
img.xuanze{
	width: 0.23rem;
	height: 0.23rem;
}
img.ystx{
	width: 1.08rem;
	height: 1.07rem;
}
img.idCard{
	width: 0.28rem;
	height: 0.22rem;
}
img.bottom{
	width: 0.15rem;
	height: 0.09rem;
}
img.tanhao{
	width: 0.27rem;
	height: 0.27rem;
}

/*---公共样式---*/
/*-左右浮动-*/
.left{
	float: left;
}
.right{
	float: right;
}
/*-页头标题-*/
header{
	height: 0.96rem;
	line-height: 0.96rem;
	text-align: center;
	font-size: 0.36rem;
	background-color: #040404;
	color: white;
	position: fixed;
	width:100%;
	z-index:99;
}

header .leftP{
	margin: 0.34rem 0 0 0.38rem;
}
header .fangzi{
	margin: 0.32rem 0.32rem 0 0;
}
.main,body > div:nth-of-type(1){
	flex:1;height:auto!important;padding-top:.96rem;
}
.background{height:100%!important;}
/*-页底-*/
footer{
	/*position: fixed;*/
	/*bottom: 0;*/
	padding: 0.2rem 0;
	/*left: 0;*/
	width: 100%;
	background-color: white;
}
footer p{
	text-align: center;
	color: #888888;
	font-size: 0.18rem;
	margin:0;
}
footer p span.rexian{
	color: #4bb8ab;
}
/*-搜索框-*/
.search{
	height: 0.86rem;
	background-color: #d2d2d2;
	position: relative;
	/*text-align: center;*/
}
.search img.fangdajingH{
	position: absolute;
	top: 0.34rem;
	left: 0.5rem;
	z-index: 2;
}
.search input{
	width: 5.2rem;
	height: 0.5rem;
	font-size: 0.2rem;
	border-radius: 0.1rem;
	padding-left: 0.6rem;
	position: absolute;
	left: 0.3rem;
	top: 0.18rem;
}





